-- CreateExtension
CREATE EXTENSION IF NOT EXISTS "vector";

-- CreateTable
CREATE TABLE "patients" (
    "id" UUID NOT NULL,
    "patient_id" TEXT NOT NULL,
    "abha_id" TEXT,
    "public_key" TEXT,
    "demographics_encrypted" TEXT,
    "demographics_hash" TEXT,
    "registered_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "patients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "doctors" (
    "id" UUID NOT NULL,
    "doctor_id" TEXT NOT NULL,
    "nmc_registration_no" TEXT NOT NULL,
    "org_id" TEXT NOT NULL,
    "specialization" TEXT,
    "public_key" TEXT,
    "certificate_fingerprint" TEXT,
    "verified_at" TIMESTAMP(3),
    "is_verified" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "doctors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hospitals" (
    "id" UUID NOT NULL,
    "hospital_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "registration_no" TEXT,
    "fabric_org_msp" TEXT,
    "address" TEXT,
    "city" TEXT,
    "state" TEXT,
    "pincode" TEXT,
    "accreditation_status" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "hospitals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "record_cache" (
    "id" UUID NOT NULL,
    "record_id" TEXT NOT NULL,
    "patient_id" TEXT NOT NULL,
    "doctor_id" TEXT NOT NULL,
    "hospital_id" TEXT,
    "record_type" TEXT NOT NULL,
    "medical_category" TEXT[],
    "data_hash" TEXT NOT NULL,
    "ipfs_cid" TEXT NOT NULL,
    "tags" TEXT[],
    "blockchain_tx_id" TEXT,
    "recorded_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "record_cache_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sessions" (
    "id" UUID NOT NULL,
    "user_id" TEXT NOT NULL,
    "user_type" TEXT NOT NULL,
    "token_hash" TEXT NOT NULL,
    "ip_address" TEXT,
    "user_agent" TEXT,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "is_revoked" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "access_grants" (
    "id" UUID NOT NULL,
    "patient_id" TEXT NOT NULL,
    "granted_to" TEXT NOT NULL,
    "granted_to_type" TEXT NOT NULL,
    "scope" TEXT DEFAULT 'ALL',
    "granted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMP(3),
    "revoked_at" TIMESTAMP(3),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "blockchain_tx_id" TEXT,

    CONSTRAINT "access_grants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_log" (
    "id" UUID NOT NULL,
    "patient_id" TEXT NOT NULL,
    "accessor_id" TEXT NOT NULL,
    "accessor_type" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "record_id" TEXT,
    "details" JSONB,
    "ip_address" TEXT,
    "blockchain_tx_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "record_embeddings" (
    "id" UUID NOT NULL,
    "record_id" TEXT NOT NULL,
    "patient_id" TEXT NOT NULL,
    "chunk_index" INTEGER NOT NULL,
    "chunk_text" TEXT NOT NULL,
    "embedding" vector(768),
    "record_type" TEXT,
    "medical_category" TEXT[],
    "doctor_id" TEXT,
    "hospital_id" TEXT,
    "recorded_at" TIMESTAMP(3),
    "is_compressed" BOOLEAN NOT NULL DEFAULT false,
    "compression_level" INTEGER NOT NULL DEFAULT 0,
    "is_anchor" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "record_embeddings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "patient_summaries" (
    "id" UUID NOT NULL,
    "patient_id" TEXT NOT NULL,
    "level_0" TEXT,
    "level_1" JSONB,
    "level_2" JSONB,
    "last_record_id" TEXT,
    "generated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "is_stale" BOOLEAN NOT NULL DEFAULT false,
    "model_used" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "patient_summaries_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "patients_patient_id_key" ON "patients"("patient_id");

-- CreateIndex
CREATE UNIQUE INDEX "patients_abha_id_key" ON "patients"("abha_id");

-- CreateIndex
CREATE UNIQUE INDEX "doctors_doctor_id_key" ON "doctors"("doctor_id");

-- CreateIndex
CREATE UNIQUE INDEX "doctors_nmc_registration_no_key" ON "doctors"("nmc_registration_no");

-- CreateIndex
CREATE UNIQUE INDEX "hospitals_hospital_id_key" ON "hospitals"("hospital_id");

-- CreateIndex
CREATE UNIQUE INDEX "record_cache_record_id_key" ON "record_cache"("record_id");

-- CreateIndex
CREATE INDEX "record_cache_patient_id_idx" ON "record_cache"("patient_id");

-- CreateIndex
CREATE INDEX "record_cache_doctor_id_idx" ON "record_cache"("doctor_id");

-- CreateIndex
CREATE INDEX "record_cache_record_type_idx" ON "record_cache"("record_type");

-- CreateIndex
CREATE INDEX "record_cache_recorded_at_idx" ON "record_cache"("recorded_at");

-- CreateIndex
CREATE INDEX "sessions_user_id_idx" ON "sessions"("user_id");

-- CreateIndex
CREATE INDEX "sessions_token_hash_idx" ON "sessions"("token_hash");

-- CreateIndex
CREATE INDEX "access_grants_patient_id_idx" ON "access_grants"("patient_id");

-- CreateIndex
CREATE INDEX "access_grants_granted_to_idx" ON "access_grants"("granted_to");

-- CreateIndex
CREATE INDEX "audit_log_patient_id_idx" ON "audit_log"("patient_id");

-- CreateIndex
CREATE INDEX "audit_log_created_at_idx" ON "audit_log"("created_at");

-- CreateIndex
CREATE INDEX "record_embeddings_patient_id_idx" ON "record_embeddings"("patient_id");

-- CreateIndex
CREATE INDEX "record_embeddings_record_type_idx" ON "record_embeddings"("record_type");

-- CreateIndex
CREATE UNIQUE INDEX "patient_summaries_patient_id_key" ON "patient_summaries"("patient_id");

-- AddForeignKey
ALTER TABLE "record_cache" ADD CONSTRAINT "record_cache_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "patients"("patient_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "patient_summaries" ADD CONSTRAINT "patient_summaries_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "patients"("patient_id") ON DELETE RESTRICT ON UPDATE CASCADE;

